<div
  class="min-w-full min-h-full flex flex-col md:flex-row items-center justify-center gap-6 md:gap-10 mt-4"
>
  <div class="flex flex-col items-center md:items-start gap-2">
    <div class="text-5xl md:text-6xl font-bold">
      <p class="capitalize">{{ firstName }}</p>
      <p class="capitalize">{{ lastName }}</p>
    </div>
    <p class="text-lg font-bold">{{ tagline }}</p>
    <div class="flex divide-x font-sans text-sm">
      <div
        class="px-4 flex flex-col items-center justify-center"
        *ngFor="let service of landingPageServices"
      >
        <img
          class="h-9 md:h-12 my-2"
          [src]="service.imgUrl"
          alt="service-img"
        />
        <p class="capitalize">{{ service.name }}</p>
        <p class="font-bold">
          {{ service.price | currency: "INR":"symbol-narrow" }}
        </p>
      </div>
    </div>
    <button
      class="w-full mt-4 p-4 rounded bg-black hover:bg-white hover:text-black border border-black duration-200 text-white text-lg font-sans"
    >
      Book Now
    </button>
  </div>
  <img class="max-w-sm" src="/assets/background.png" alt="hero-img" />
</div>
