<div class="min-w-full min-h-full flex flex-col md:flex-row items-center justify-center gap-6 md:gap-10 mt-4">
    <div class="flex flex-col items-center md:items-start gap-2">
        <div class="text-5xl md:text-6xl font-bold">
            <p>Jack</p>
            <p>Robinson</p>
        </div>
        <p class="text-lg font-bold">Let's make you Handsome!</p>
        <div class="flex divide-x font-sans text-sm">
            <div class="px-4 flex flex-col items-center justify-center">
                <img class="h-9 md:h-12 my-2" src="/assets/sissors.png" alt="sissors-img">
                <p>Haircut</p>
                <p class="font-bold">Rs 55.00</p>
            </div>
            <div class="px-4 flex flex-col items-center justify-center">
                <img class="h-9 md:h-12 my-2" src="/assets/razor.png" alt="sissors-img">
                <p>Shave</p>
                <p class="font-bold">Rs 105.00</p>
            </div>
            <div class="px-4 flex flex-col items-center justify-center">
                <img class="h-9 md:h-12 my-2" src="/assets/comb.png" alt="sissors-img">
                <p>Facial</p>
                <p class="font-bold">Rs 65.00</p>
            </div>
        </div>
        <button
            class="w-full mt-4 p-4 rounded bg-black hover:bg-white hover:text-black border border-black duration-200 text-white text-lg font-sans">Book
            Now</button>
    </div>
    <img class="max-w-sm" src="/assets/background.png" alt="hero-img">
</div>
