<!-- Barbers -->
<section
    class="p-4 min-w-full min-h-full flex flex-col items-center justify-center border-t-2 border-slate-300 relative mb-12">
    <p class="text-3xl font-bold underline underline-offset-8 decoration-4 decoration-wavy mb-6">Our Barbers</p>
    <div class="barber-container flex flex-col md:flex-row md:flex-wrap py-6 gap-8 items-center justify-center">

        <app-barber-card *ngFor="let barber of barbers" [barber]="barber"></app-barber-card>

    </div>

    <a href="#"
        class="cursor-pointer bg-gray-200 text-gray-800 px-4 py-2 rounded-2xl flex items-center justify-center flex-nowrap gap-2 animate-bounce absolute -bottom-8">
        <p>See More</p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
        </svg>
    </a>
</section>