<!-- Contact Us -->
<section
  class="p-4 min-w-full min-h-full flex flex-col items-center justify-center border-t-2 border-slate-300 relative mb-12"
>
  <p
    class="text-3xl font-bold underline underline-offset-8 decoration-4 decoration-wavy mb-6"
  >
    Contact Us
  </p>
  <div class="max-w-sm md:max-w-2xl lg:max-w-2xl font-sans text-lg space-y-4">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum facilis
      nulla, sit enim voluptatibus, cum illum, reiciendis minima quae doloribus
      quibusdam alias mollitia beatae fuga deleniti! Mollitia velit magnam ut?
    </p>
  </div>
</section>
